<form method="post" action="{{ path('app_portfolio_project_delete', {'id': portfolio_project.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ portfolio_project.id) }}">
    <button class="btn">Delete</button>
</form>
