{% extends 'base.html.twig' %}

{% block title %}New PortfolioProject{% endblock %}

{% block body %}
    <h1>Create new PortfolioProject</h1>

    {{ include('portfolio_project/_form.html.twig') }}

    <a href="{{ path('app_portfolio_project_index') }}">back to list</a>
{% endblock %}
